@import '../../shared/responsive-breakpoints.scss';
.customer-container{
  padding-top: 5%;

  @include respond-to(xs-screen) {
    padding-top: 15%;
  }
}
.new-customer{
  margin-left: 1%;

  @include respond-to(xs-screen) {
    padding-bottom: 10px;
  }
}
.customer-card{
  margin: 1%;
  display: inline-block;
  width: 20%;

  @include respond-to(xs-screen) {
    width: 98%;
  }
  @include respond-to(sm-screen) {
    width: 48%;
  }
  @include respond-to(md-screen) {
    width: 23%;
  }
}
.customer-header-image{
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.paginator-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
