@import '../../shared/responsive-breakpoints.scss';

.supplier-card{
  margin: 1%;
  display: inline-block;
  width: 20%;
  @include respond-to(xs-screen) {
    width: 98%;
  }
  @include respond-to(sm-screen) {
    width: 48%;
  }
  @include respond-to(md-screen) {
    width: 23%;
  }
}
