.login-container {
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
  max-height: 100%;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  padding-top: 200px;
}
.login-form {
  flex-direction: column;
  display: flex;
}
.login-card {
  min-width: 400px;
  max-width: 400px;
  box-sizing: border-box;
}
.login-form-field{
  display: flex;
  margin-left: 10px;
  width: 100%;
}
.login-control-input {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  /deep/.mat-form-field-wrapper{
    width: 100%;
  }
}

.login-error{
  color:red;
}
