@import '../../shared/responsive-breakpoints.scss';

.element-form {
  display: flex;
  align-items: center;

  @include respond-to(sm-screen) {
    flex-direction: column;
    align-items: baseline;
  }
}
.label-description{
  width: 110px;
  margin-bottom: 0;
}
